<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <div class="header">
            <div id="new">+</div>
            <h1 class="title">日历</h1>
        </div>
        <div id="form">
            <form action="/">
                <h1>Submit an event</h1>
                <label for="event-name">Event Name:</label><br>
                <input type="text" id="event-name" name="event-name" placeholder="Studying for CSE 220"><br>
                
                <label for="birthday">Date:</label><br>
                <input type="date" id="date" name="date"><br>

                <label for="starttime">Start time:</label><br>
                <input type="time" id="starttime" name="starttime"><br>

                <label for="endtime">End time:</label><br>
                <input type="time" id="endtime" name="endtime"><br>

                <label for="event-name">Event Name:</label><br>
                <textarea rows="10" cols="30" type="text" id="description" name="description" placeholder="Reading The C Programming Language"></textarea><br>

                <input type="submit" value="Create" class="submit">
            </form> 
        </div>
        <div id="calendar"></div>
	    <script src="script.js"></script>
    </body>
</html>
