body {
  font-family: Helvetica;
}

#calendar {
  max-width: 1000px;
  height: 1440px;
  background-color: #EEEEEE;
}

.event {
  position: absolute;
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: white;
  overflow: hidden;
  border-radius: 1rem;
}

.event:hover {
  z-index: 20;
}

.content {
  padding: 20px;
}
