body {
    /* w3 schools */
    background-image: url("/image/big-yoshi.jpg");
    height: 20px;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.background {}
#header {
    font-family: Helvetica, sans-serif;
    font-size: 10rem;
}