body {
    font-family: Helvetica, sans-serif;
    /* w3 schools */
    height: 20px;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.background {}
#header {
    font-size: 6rem;
}
.desc {
    font-size: 2rem;
}

img {
    max-height: 200px;
}

.form-bg {
    background-color: rgb(240, 240, 240);
    padding: 50px;
    max-width: 650px;
    margin: auto;
    border-radius: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

p {
  margin: 0;
}