<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/style/style.css">
    </head>

    <body>
        <nav class="navbar navbar-light px-3 mb-5" style="background-color: #e3f2fd;">
            <a href="/" class="nav-link"><h3>Hangtime</h3></a>
            <p>{{ username }}</p>
            <a href="/logout" class="nav-link"><p>Logout</p></a>
        </nav>

        <div class="container mb-5">
            <h1>Users</h1>
            <div class="d-flex">
            {% for user in users %}
                <div class="rounded user-block d-flex justify-content-center align-items-center me-1">{{ user }}</div>
            {% endfor %}
            </div>
        </div>

        <div class="container"><h1>Chat</h1></div>

        <div class="container d-flex mb-3">
            <select class="form-select me-3" aria-label="Default select example" style="width: 200px;" id="chat-name">
                <option selected>-</option>
                {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
            <input id="chat-comment" type="text" name="comment" class="form-control" placeholder="Comment"><br/>
        </div>

        <div class="container">
            <button onclick="sendMessage()" class="btn btn-primary mb-3">Chat</button>
        </div>

        <div class="container-md">
            <div id="chat"></div>
        </div>

        <script src="../script/websocket.js"></script>
    </body>
</html>